* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* main {
  position: relative;
  max-height: 100vh;
  max-width: 80vw;
} */
.bg-image {
  background-image: url(/CSS/images/spacedoodles-01-01-01.png);
  min-height: 100%;
  min-width: 100%;
  filter: blur(1px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* .container {
  max-width: 80vw;
  max-height: 100vh;
  margin: auto;
} */

.navbar {
  padding: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
  font-size: 1.8rem;
}

li {
  border-radius: 0.7rem;
  padding: 1rem;
  background-color: #00adb5;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.519);
  transition: 0.5s ease-in;
}

li:hover {
  transform: translateY(2%);
}

.old-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  height: fit-content;
}
input {
  font-size: 2rem;
}

.card {
  text-align: center;
  padding: 10rem 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 10rem;
}

button {
  font-size: 2rem;
  max-width: max-content;
}

.day-photo {
  background: #00adb5;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.519);
  transition: 0.4s ease-out;
}

.day-photo:hover {
  transform: translateX(0.5%);
}

.results {
  background-color: rgb(44, 44, 44);
  border-radius: 2rem;
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 95vh;
  transition: 0.4s ease-out;
  gap: 2rem;
}

@media screen and (max-width: 1220px) {
  .results {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 7rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 5rem;
    padding: 10rem 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
  }
  .nasa-link {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    align-items: center;
    list-style: none;
    padding-left: 0;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .results {
    display: flex;
    flex-direction: column;
    height: fit-content;
    top: 70%;
  }

  h1 {
    font-size: 6rem;
  }
}

.results:hover {
  border-color: #00adb5;
  box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.519);
}

img,
iframe {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  flex-grow: 2;
}

.card__arrow {
  position: absolute;
  display: inline;
  background: #00adb5;
  padding: 0.4rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  bottom: 0;
  left: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.519);
}

.card__arrow:hover {
  background: #eeeeee;
}

svg:hover {
  stroke: #00adb5;
}
.explanation {
  color: #eeeeee;
  padding: 2rem;
  text-align: justify;
  min-width: 40%;
}
h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}
